@import '../utilities/_variables.scss';

html {
	font-family: 'Akzidenz-Grotesk-BQ', sans-serif;
	font-size: $base-font-size;
	background-color: $sand;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: $gray-dark;
}

::selection {
	background: $concrete;
}
