@import '../utilities/variables';

// =============================================================================
// Gradients
// =============================================================================
.gradient-primary {
	background-image: radial-gradient(circle at 0% 50%, #E8E9E3, #CFD1C7 49%);
}


// =============================================================================
// title-super
// =============================================================================
.title-super {
	font-family: 'Akzidenz-Grotesk-BQ-Bold', sans-serif;
	font-size: 3rem;
	letter-spacing: -3px;
	line-height: 0.916em;
}

.title-super-dark {
	@extend .title-super;
	color: $gray-dark;
}

.title-super-light {
	@extend .title-super;
	color: $white;
}

// =============================================================================
// title-large
// =============================================================================
.title-large {
	font-family: 'Akzidenz-Grotesk-BQ-Bold', sans-serif;
	font-size: 2.25rem;
	letter-spacing: -2px;
	line-height: 1.222em;
}

.title-large-dark {
	@extend .title-large;
	color: $gray-dark;
}

.title-large-light {
	@extend .title-large;
	color: $white;
}

// =============================================================================
// body
// =============================================================================
.text-body {
	font-family: 'Akzidenz-Grotesk-BQ', sans-serif;
	font-size: 1.125rem;
	letter-spacing: -0.75px;
	line-height: 1.222em;
}

.text-body-dark {
	@extend .text-body;
	color: $gray-dark;
}

.text-body-light {
	@extend .text-body;
	color: $white;
}

// =============================================================================
// callout-medium
// =============================================================================
.callout-medium {
	font-family: 'Akzidenz-Grotesk-BQ-Bold', sans-serif;
	font-size: 1rem;
	letter-spacing: -0.5px;
	line-height: 1.1875em;
}

.callout-medium-dark {
	@extend .callout-medium;
	color: $gray-dark;
}

.callout-medium-light {
	@extend .callout-medium;
	color: $white;
}

// =============================================================================
// callout-small
// =============================================================================
.callout-small {
	font-size: 0.875rem;
	letter-spacing: -0.5px;
	line-height: 1.214em;
}

.callout-small-dark {
	@extend .callout-small;
	color: $gray-dark;
}

.callout-small-dark-bold {
	@extend .callout-small-dark;
	font-family: 'Akzidenz-Grotesk-BQ-Bold', sans-serif;
}

.callout-small-light {
	@extend .callout-small;
	color: $white;
}

.callout-small-light-bold {
	@extend .callout-small-light;
	font-family: 'Akzidenz-Grotesk-BQ-Bold', sans-serif;
}

// =============================================================================
// Footnote
// =============================================================================
.footnote {
	font-size: 0.75rem;
	line-height: 1.166em;
}

.footnote-lightgray {
	@extend .footnote;
	color: $gray-light;
}

.footnote-light {
	@extend .footnote;
	color: $white;
}

// =============================================================================
// caption-small
// =============================================================================
.caption-small {
	font-family: 'Akzidenz-Grotesk-BQ-Bold', sans-serif;
	font-size: 0.625rem;
	line-height: 1em;
	letter-spacing: 1.5px;
}

.caption-small-dark {
	@extend .caption-small;
	color: $gray-dark;
}

.caption-light {
	@extend .caption-small;
	color: $white;
}

// =============================================================================
// backgrounds
// =============================================================================
.bg-red-primary {
	background-color: $red-primary;
}

.bg-blue-electric {
	background-color: $blue-electric;
}

.bg-gray-dark {
	background-color: $gray-dark;
}

.bg-gray-light {
	background-color: $gray-light;
}

.bg-concrete {
	background-color: $concrete;
}

.bg-sand {
	background-color: $sand;
}

// font-weight
.bold {
	font-family: 'Akzidenz-Grotesk-BQ-Bold', sans-serif;
}

// =============================================================================
// text-colors
// =============================================================================
.text-red-primary {
	color: $red-primary;
}

.text-blue-electric {
	color: $blue-electric;
}

.text-gray-dark {
	color: $gray-dark;
}

.text-gray-light {
	color: $gray-light;
}

.text-concrete {
	color: $concrete;
}

.text-sand {
	color: $sand;
}

// =============================================================================
// transitions
// =============================================================================
.transition-primary {
	transition: all 0.3s ease;
}

.transition-text-primary {
	transition: color 0.3s ease;
}

.transition-bg-primary {
	transition: background-color 0.3s ease;
}

// background-hover
.bg-gray-dark-hover {
	@extend .bg-gray-dark;
	transition: background-color 0.1s ease;

	&:hover {
		background-color: lighten($gray-dark, 5%);
	}
}

.bg-blue-electric-hover {
	@extend .bg-blue-electric;
	transition: background-color 0.1s ease;

	&:hover {
		background-color: lighten($blue-electric, 5%);
	}
}

