<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="22"
		height="12"
		viewBox="0 0 22 12"
	>
		<path
			:fill="color"
			fill-rule="nonzero"
			d="M16 0l6 6-6 6V7.2H0V4.8h16z"
		/>
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		}
	}
}
</script>
