<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="22"
		height="10"
		viewBox="0 0 22 10"
	>
		<path :fill="color" fill-rule="nonzero" d="M6 0L0 5l6 5V6h16V4H6z" />
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		}
	}
}
</script>
