<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="8"
		height="12"
		viewBox="0 0 8 12"
	>
		<path
			:fill="color"
			fill-rule="nonzero"
			d="M.251 1.89L2.081.063l5.843 5.843L2.08 11.75.25 9.92l4.015-4.014z"
		/>
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		}
	}
}
</script>
