<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="12"
		height="8"
		viewBox="0 0 12 8"
	>
		<path
			:fill="color"
			fill-rule="nonzero"
			d="M10.11.251l1.828 1.83-5.843 5.843L.25 2.08 2.08.25l4.014 4.015z"
		/>
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		}
	}
}
</script>
