<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="14"
		height="14"
		viewBox="0 0 14 14"
	>
		<g fill="#FFF" fill-rule="evenodd">
			<path d="M2.05.636L13.364 11.95l-1.414 1.414L.636 2.05z" />
			<path d="M11.95.636L.636 11.95l1.414 1.414L13.364 2.05z" />
		</g>
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		}
	}
}
</script>
