<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="12"
		height="16"
		viewBox="0 0 12 16"
	>
		<path
			:fill="color"
			fill-rule="nonzero"
			d="M9.6 6.4V4c0-2.24-1.76-4-4-4s-4 1.76-4 4v2.4C.72 6.4 0 7.12 0 8v6.4c0 .88.72 1.6 1.6 1.6h8c.88 0 1.6-.72 1.6-1.6V8c0-.88-.72-1.6-1.6-1.6zM8 6.4H3.2V4c0-1.36 1.04-2.4 2.4-2.4C6.96 1.6 8 2.64 8 4v2.4z"
		/>
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		}
	}
}
</script>
