<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="20"
		height="12"
		viewBox="0 0 20 12"
	>
		<g :fill="color" fill-rule="evenodd">
			<path d="M0 0h20v3H0zM0 9h20v3H0z" />
		</g>
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		}
	}
}
</script>
