<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="11"
		height="12"
		viewBox="0 0 11 12"
	>
		<path
			:fill="color"
			fill-rule="nonzero"
			d="M10.5 5.158v5.95H8.307l-.133-1.064a3.797 3.797 0 0 1-3.128 1.322 5.228 5.228 0 0 1-1.907-.343 4.895 4.895 0 0 1-1.601-1.012 4.644 4.644 0 0 1-1.12-1.732 6.85 6.85 0 0 1-.412-2.447A5.993 5.993 0 0 1 1.48 1.613 5.105 5.105 0 0 1 5.447.007a5.19 5.19 0 0 1 3.28 1.038c.909.72 1.502 1.79 1.646 2.969H7.137c-.172-.846-.92-1.428-1.748-1.363a1.614 1.614 0 0 0-1.48.847 4.62 4.62 0 0 0-.496 2.32c0 1.954.726 2.93 2.18 2.93a1.93 1.93 0 0 0 1.08-.357c.316-.2.544-.52.636-.893H5.834v-2.34H10.5z"
		/>
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		}
	}
}
</script>
