<template>
	<header class="flex justify-between items-center">
		<NavLogo />
		<Navigation />
	</header>
</template>

<script>
import NavLogo from './navLogo'
import Navigation from './navigation'

export default {
	name: 'Menu',
	components: {
		Navigation,
		NavLogo
	}
}
</script>

<style scoped></style>
