<template>
	<nav class="flex items-center">
		<span class="callout-small-dark-bold">FIFA 19</span>
		<button
			class="p-6 flex-grow-0 transition-text-primary"
			aria-label="Menu"
		>
			<NavDef />
		</button>
	</nav>
</template>

<script>
import NavDef from '~/components/icons/navDef'

export default {
	name: 'Navigation',
	components: {
		NavDef
	}
}
</script>

<style lang="scss" scoped>
button {
	&:hover {
		color: $gray-light;
	}
}
</style>
