<template>
	<NuxtLink
		to="/"
		class="nav-logo bg-gray-dark-hover text-white flex justify-center items-center transition-bg-primary z-20"
		aria-label="Go to Gfinity home page"
	>
		<Logo />
	</NuxtLink>
</template>

<script>
import Logo from '../branding/logo'

export default {
	name: 'NavLogo',
	components: {
		Logo
	}
}
</script>

<style lang="scss" scoped>
.nav-logo {
	width: 105px;
	height: 105px;

	&:hover {
		background-color: lighten($gray-dark, 5%);
	}
}
</style>
