<template>
	<div
		class="backdrop w-screen h-screen flex justify-center items-center fixed bg-concrete"
	>
		<div
			class="app-content bg-white h-screen w-screen relative overflow-y-scroll"
			:class="pageClass"
		>
			<slot />
		</div>
	</div>
</template>

<script>
export default {
	name: 'Holder',
	computed: {
		pageClass() {
			return {
				'page-searching': this.$nuxt.$route.name === 'searching',
				'page-play': this.$nuxt.$route.name === 'play',
				'page-index': this.$nuxt.$route.name === 'index'
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.backdrop {
	.app-content {
		@media (min-width: 768px) {
			width: 375px;
			height: 812px;
			box-shadow: 0 2px 12px 0 rgba(107, 107, 101, 0.25);
		}
	}
}
</style>
