<template>
	<div class="player mr-4">
		<NuxtLink
			to="/"
			class="player--avatar overflow-hidden relative block"
			aria-label="Visit player's page"
		>
			<img
				v-if="name && picture"
				:src="src"
				:srcset="srcSet"
				class="object-cover h-full w-full"
				:alt="`Avatar of ${name}`"
			/>
		</NuxtLink>
		<div class="player--status text-gray-light text-xs mt-4">
			{{ position }} /
		</div>
		<div class="player--name callout-medium">
			<NuxtLink v-if="name" to="/">{{ name }}</NuxtLink>
			<NuxtLink v-else to="/" class="flex items-center">
				Invite Player
				<IconCaretRight class="ml-3" />
			</NuxtLink>
		</div>
		<div class="mt-4 flex items-center">
			<span v-if="isReady" class="player--ready caption-small mr-4"
				>READY</span
			>
			<div v-if="gScore" class="caption-small text-red-primary flex">
				<PtsG />
				<span class="player--count relative">{{ gScore }}</span>
			</div>
		</div>
	</div>
</template>

<script>
import PtsG from '~/components/branding/ptsG'
import IconCaretRight from '~/components/icons/caretRight'

export default {
	name: 'Person',
	components: {
		PtsG,
		IconCaretRight
	},
	props: {
		name: {
			type: String
		},
		picture: {
			type: String
		},
		position: {
			type: String,
			default: 'Team Player'
		},
		isReady: {
			type: Boolean,
			default: false
		},
		gScore: {
			type: Number
		}
	},
	computed: {
		src() {
			return require(`~/assets/images/${this.picture}.jpg`)
		},
		srcSet() {
			return `${require(`~/assets/images/${this.picture}@2x.jpg`)} 2x,
					${require(`~/assets/images/${this.picture}@3x.jpg`)} 3x`
		}
	}
}
</script>

<style lang="scss" scoped>
.player {
	width: 140px;

	.player--avatar {
		border-radius: 6px;
		box-shadow: 0 2px 12px 0 rgba(107, 107, 101, 0),
			inset 0 0 0 1px $concrete;
		height: 187px;
		transition: box-shadow 0.3s ease;
		will-change: box-shadow;

		&:hover {
			box-shadow: 0 2px 12px 0 rgba(107, 107, 101, 0.25),
				inset 0 0 0 1px $concrete;
		}
	}

	.player--status {
		line-height: 1.1666em;
	}

	.player--name {
		margin-top: 0.375rem;
		transition: color 0.15s ease;

		&:hover {
			color: lighten($gray-dark, 15%);
		}
	}

	.player--ready {
		padding: 2px 4px 1px 5px;
		border: 1px solid $gray-dark;
	}

	.player--count {
		font-family: 'Akzidenz-Grotesk-BQ-Bold', sans-serif;
		letter-spacing: -0.5px;
		font-size: 0.6875rem;
		line-height: 1.18em;
		left: 2px;
		top: -1px;
	}
}
</style>
