.app {
	background: $sand url('~assets/images/fifa-19-ronaldo-fg-lg.png') no-repeat
	right 0 top 79px;
	background-blend-mode: multiply;
	background-size: 334px;

	.page-index & {
		background-position: right -134px top -312px;
	}

	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
		background-image: url('~assets/images/fifa-19-ronaldo-fg-lg@2x.png');
	}

	@media only screen and (-webkit-min-device-pixel-ratio: 3),
	only screen and (-moz-min-device-pixel-ratio: 3),
	only screen and (min-device-pixel-ratio: 3) {
		background-image: url('~assets/images/fifa-19-ronaldo-fg-lg@3x.png');
	}
}

.call-to-action {
	padding-left: 81px;
	margin-bottom: 26px;
}
