.rectangle-container {
	padding-top: 147px;
	padding-bottom: 67px;
	min-height: calc(100% - 176px);
	position: relative;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		mix-blend-mode: multiply;
	}

	.dash {
		height: 2px;
		margin-top: 6px;
	}

	.avatar {
		width: 42px;
		box-sizing: content-box;
		border: 6px solid transparent;
		box-shadow: 0 0 0 2px $white;
	}
}
