<template>
	<div class="accordion py-1 flex overflow-hidden">
		<div
			class="title callout-small-dark-bold py-3 cursor-pointer flex-shrink-0"
		>
			{{ name }}
		</div>
		<div class="body callout-small-dark w-full cursor-pointer">
			<div
				v-for="item in items"
				:key="item"
				class="py-3 item"
				@click="$emit('select', item)"
			>
				{{ item }}
			</div>
		</div>
		<div class="icon cursor-pointer">
			<div><IconCaret /></div>
		</div>
	</div>
</template>

<script>
import IconCaret from '~/components/icons/caretDown'

export default {
	name: 'Accordion',
	components: {
		IconCaret
	},
	props: {
		name: String,
		items: Array
	}
}
</script>

<style lang="scss" scoped>
.accordion {
	height: 49px;
	border-top: 1px solid $concrete;
	transition: height 0.3s ease;

	.title {
		width: 156px;
	}

	.icon {
		div {
			padding: 16px 10px;
			transition: transform 0.2s ease 0.25s;
		}
	}

	&.open {
		height: calc(100vh - 343px);

		@media (min-width: 768px) {
			height: 469px;
		}

		.icon {
			div {
				transform: rotateZ(0.5turn);
			}
		}

		.item:hover {
			color: lighten($gray-dark, 15%);
		}
	}
}
</style>
