<template>
	<NuxtLink
		:to="to"
		class="backlink bg-gray-dark-hover text-white flex justify-center items-center absolute z-10"
	>
		<IconArrowLeft />
	</NuxtLink>
</template>

<script>
import IconArrowLeft from '../icons/arrowLeft'

export default {
	name: 'Backlink',
	components: {
		IconArrowLeft
	},
	props: {
		to: {
			type: String
		}
	}
}
</script>

<style lang="scss" scoped>
.backlink {
	width: 105px;
	height: 105px;
	transition: background-color 0.1s ease;

	&:hover {
		background-color: lighten($gray-dark, 5%);
	}
}
</style>
