<template>
	<div class="breadcrumb py-4">
		<NuxtLink
			:to="to"
			class="callout-medium-dark flex items-center hover:opacity-75 transition-primary"
		>
			<ArrowLeft class="mr-6" />
			<slot />
		</NuxtLink>
	</div>
</template>

<script>
import ArrowLeft from '~/components/icons/arrowLeft'

export default {
	name: 'Breadcrumb',
	components: {
		ArrowLeft
	},
	props: {
		to: {
			type: String
		}
	}
}
</script>

<style lang="scss" scoped>
.breadcrumb {
	border-bottom: 1px solid $concrete;
}
</style>
