<template>
	<NuxtLink
		:to="to"
		class="button--sticky w-full pl-4 pr-6 text-white flex items-center"
		:class="bgColor"
	>
		<div class="callout-small-light-bold">{{ callToAction }}</div>
		<div class="callout-small-light"><slot /></div>
		<div class="ml-auto">
			<IconArrowRight v-if="icon === 'arrow-right'" />
			<IconClose v-if="icon === 'close'" />
		</div>
	</NuxtLink>
</template>

<script>
import IconArrowRight from '~/components/icons/arrowRight'
import IconClose from '~/components/icons/close'

export default {
	name: 'ButtonResponsive',
	components: {
		IconArrowRight,
		IconClose
	},
	props: {
		to: {
			type: String,
			default: '/'
		},
		type: {
			type: String,
			default: 'primary'
		},
		callToAction: {
			type: String
		},
		icon: {
			type: String,
			default: 'arrow-right'
		}
	},
	computed: {
		bgColor() {
			return {
				'bg-blue-electric-hover': this.type === 'primary',
				'bg-gray-dark-hover': this.type === 'secondary'
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.button--sticky {
	height: 89px;

	div:nth-child(1) {
		width: 156px;
	}
}
</style>
