<template>
	<span class="label bg-gray-dark text-sand mr-3">{{ text }}</span>
</template>

<script>
export default {
	name: 'Label',
	props: {
		text: {
			type: String
		}
	}
}
</script>

<style scoped>
.label {
	font-size: 0.625rem;
	line-height: 1.2em;
	font-family: 'Akzidenz-Grotesk-BQ-Bold', sans-serif;
	padding: 1px 5px 0 5px;
	letter-spacing: 1.5px;
	border-radius: 0 7px 7px 0;
}
</style>
