<template>
	<div class="app h-full">
		<Menu />
		<Backlink to="/searching" />
		<div class="rectangle-container mr-6 p-4 text-white">
			<main class="relative z-10">
				<div class="callout-medium-light slide-left">
					Matchmaking Lobby
				</div>
				<h1 class="title-super-light my-6 mr-10 slide-left">
					A match has been found for you!
				</h1>
				<p class="text-body-light slide-left">
					We’ve found a compatible opponent for you to play Squad
					Battles with in FIFA 19
				</p>
				<div class="mt-16">
					<div class="flex items-center slide-left">
						<div class="footnote-light w-16">Lobby</div>
						<div
							class="avatar footnote-light rounded-full overflow-hidden"
						>
							<img
								:src="avatarSrc('sm')"
								:srcset="avatarSrcSet('sm')"
								class="object-cover h-full w-full"
								:alt="`Avatar of ${$store.state.user.username}`"
							/>
						</div>
					</div>
					<div class="flex mt-10 slide-left">
						<div class="footnote-light w-16 flex-shrink-0">
							<div class="dash w-3 bg-white"></div>
						</div>
						<div class="footnote-light">
							By tapping accept, you agree to play a match that
							may last for up to 30 minutes.
						</div>
					</div>
				</div>
			</main>
		</div>
		<div class="absolute call-to-action w-full right-0 bottom-0 z-10">
			<ButtonResponsive call-to-action="Accept" to="/play">
				-00:17
			</ButtonResponsive>
		</div>
	</div>
</template>

<script>
import { TimelineLite, Power2 } from 'gsap'
import { mapGetters } from 'vuex'
import Menu from '../components/layout/menu'
import Backlink from '../components/ui/backlink'
import ButtonResponsive from '../components/ui/buttonResponsive'

export default {
	layout: 'holder',
	name: 'Searching',
	components: {
		Menu,
		Backlink,
		ButtonResponsive
	},
	computed: {
		...mapGetters(['avatarSrc', 'avatarSrcSet'])
	},
	mounted() {
		const timeline = new TimelineLite()

		timeline
			.from('.rectangle-container', 0.7, {
				width: 0,
				height: 0,
				ease: Power2.easeOut
			})
			.staggerFrom('.slide-left', 0.3, { opacity: 0, x: '-100%' }, 0.1)
	},
	beforeDestroy() {
		const timeline = new TimelineLite()

		timeline
			.staggerTo('.slide-left', 0.2, { opacity: 0, x: '-100%' }, 0.1)
			.to(
				'.rectangle-container',
				0.3,
				{
					width: 0,
					height: 0,
					ease: Power2.easeOut
				},
				'-=0.2'
			)
	}
}
</script>

<style lang="scss" scoped>
.rectangle-container {
	&::before {
		background-color: $gray-blend;
	}
}

.page-leave-active {
	transition: all 0.5s ease-out;
}
</style>
