<template>
	<div class="app h-full">
		<Menu />
		<Backlink to="/" />
		<div class="rectangle-container mr-6 text-white">
			<main class="relative mx-4 z-10">
				<div class="callout-medium-light slide-left">
					Matchmaking Lobby
				</div>
				<h1 class="title-super-light my-6 mr-10 slide-left">
					Searching for compatible opponents
				</h1>
				<p class="text-body-light slide-left">
					We’re searching our database of players to pair you with an
					opponent of similar skill
				</p>
				<div class="mt-16">
					<div class="flex items-center slide-left">
						<div class="footnote-light w-16">Lobby</div>
						<div
							class="avatar footnote-light rounded-full overflow-hidden"
						>
							<img
								:src="avatarSrc('sm')"
								:srcset="avatarSrcSet('sm')"
								class="object-cover h-full w-full"
								:alt="`Avatar of ${$store.state.user.username}`"
							/>
						</div>
					</div>
					<div class="flex mt-10 slide-left">
						<div class="footnote-light w-16 flex-shrink-0">
							<div class="dash w-3 bg-white"></div>
						</div>
						<div class="footnote-light">
							<span class="bold">4,021</span> in Queue
						</div>
					</div>
				</div>
			</main>
		</div>
		<div class="absolute call-to-action w-full right-0 bottom-0 z-10">
			<ButtonResponsive
				type="secondary"
				call-to-action="Searching..."
				icon="close"
				to="/play"
			>
				01:42
			</ButtonResponsive>
		</div>
	</div>
</template>

<script>
import { TimelineLite, Power2 } from 'gsap'
import { mapGetters } from 'vuex'
import Menu from '../components/layout/menu'
import Backlink from '../components/ui/backlink'
import ButtonResponsive from '../components/ui/buttonResponsive'

export default {
	layout: 'holder',
	name: 'Searching',
	components: {
		Menu,
		Backlink,
		ButtonResponsive
	},
	computed: {
		...mapGetters(['avatarSrc', 'avatarSrcSet'])
	},
	mounted() {
		const timeline = new TimelineLite()

		timeline
			.from('.backlink', 0.7, { y: '-100%', ease: Power2.easeOut })
			.from(
				'.button--sticky',
				0.7,
				{ opacity: 0, ease: Power2.easeOut },
				'-=0.3'
			)
			.from(
				'.rectangle-container',
				0.7,
				{
					width: 0,
					height: 0,
					ease: Power2.easeOut
				},
				'-=0.6'
			)
			.staggerFrom('.slide-left', 0.3, { opacity: 0, x: '-100%' }, 0.1)
	},
	beforeDestroy() {
		const timeline = new TimelineLite()

		timeline
			.staggerTo('.slide-left', 0.2, { opacity: 0, x: '-100%' }, 0.1)
			.to(
				'.rectangle-container',
				0.3,
				{
					width: 0,
					height: 0,
					ease: Power2.easeOut
				},
				'-=0.2'
			)
	}
}
</script>

<style lang="scss" scoped>
.rectangle-container {
	&::before {
		background-color: $blue-electric;
	}
}

.page-leave-active {
	transition: background-position 0.5s ease-out;
}
</style>
