@keyframes slideInRight {
	from {
		-webkit-transform: translate3d(50%, 0, 0);
		transform: translate3d(50%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slide-in--right {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}

.anim-infinite {
	animation-iteration-count: infinite;
}

.anim-fast {
	animation-duration: 0.3s;
}

.anim-slow {
	animation-duration: 0.9s;
}

.anim-linear {
	animation-timing-function: linear;
}

.anim-ease {
	animation-timing-function: ease;
}

.anim-ease-in {
	animation-timing-function: ease-in;
}

.anim-fill {
	animation-fill-mode: forwards;
}

