// Colors
$red-primary: #E94235;
$blue-electric: #293894;
$gray-dark: #1B1B1B;
$gray-blend: #1f1f1f;
$gray-light: #6B6B65;
$concrete: #CFD1C7;
$sand: #DFE0D9;
$white: #FFFFFF;

// Typography
$base-font-size: 16px;
